@model TraversalCoreProje.Models.UserRegisterVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traversal Misafir Kayıt Ekranı</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Login-Register/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Login-Register/css/style.css">
    <style type="text/css">
        .text-danger{ color: red;}
    </style>
</head>
<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Yeni Hesap</h2>
                        <form method="POST" class="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" placeholder="Adınız" asp-for="Name"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" placeholder="Soyadınız" asp-for="Surname"/>
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" placeholder="Mail Adresiniz" asp-for="Email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" placeholder="Kullanıcı Adınız"  asp-for="UserName"/>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" placeholder="Şifreniz"  asp-for="Password"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" placeholder="Şifre Tekrar" asp-for="ConfirmPassword"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Kayıt Ol"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/Login-Register/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/Login/SignIn/" class="signup-image-link">Zaten kayıtlıysanız tıklayınız.</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/Login-Register/vendor/jquery/jquery.min.js"></script>
    <script src="~/Login-Register/js/main.js"></script>
</body>
</html>