@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Traversal Misafir Kayıt Ekranı</title>
	<!-- Font Icon -->
	<link rel="stylesheet" href="~/Login-Register/fonts/material-icon/css/material-design-iconic-font.min.css">
	<!-- Main css -->
	<link rel="stylesheet" href="~/Login-Register/css/style.css">
</head>
<body>
	<div class="main">
		<!-- Sign in form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure><img src="~/Login-Register/images/signin-image.jpg" alt="sing up image"></figure>
						<a href="/Login/SignUp/" class="signup-image-link">Üyelik Oluştur</a>
					</div>

					<div class="signin-form">
						<h2 class="form-title">Misafir Giriş Sayfası</h2>
						<form method="POST" class="register-form" id="login-form">
							<div class="form-group">
								<label for="your_name"><i class="zmdi zmdi-email material-icons-name"></i></label>
								<input type="text" name="your_name" id="your_name" placeholder="Mail Adresiniz">
							</div>
							<div class="form-group">
								<label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
								<input type="password" name="your_pass" id="your_pass" placeholder="Şifre">
							</div>
							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin" class="form-submit" value="Giriş Yap">
							</div>
						</form>
														<a href="#" class="signup-image-link">Şifremi Unuttum
								</a>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- JS -->
	<script src="~/Login-Register/vendor/jquery/jquery.min.js"></script>
	<script src="~/Login-Register/js/main.js"></script>
</body>
</html>