
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Html.PartialAsync("/Views/MemberLayoutPartial/_HeaderPartial.cshtml")

<body class="g-sidenav-show  bg-gray-100">
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_NavbarPartial.cshtml")
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        @await Html.PartialAsync("/Views/MemberLayoutPartial/_SideNavbarPartial.cshtml")
        <!-- End Navbar -->
        <div class="container-fluid py-4">

            <div class="row">
                <div class="col-12">
                    @RenderBody()
                </div>
            </div>

            @await Html.PartialAsync("/Views/MemberLayoutPartial/_FooterPartial.cshtml")
        </div>
    </main>
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_ConfiguratorPartial.cshtml")
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_ScriptPartial.cshtml")
</body>

</html>